<div class="movie__wrapper">
        {{#each movies}}
            <div class="movie">
                <a href="/movies/{{ this.id }}">
                    <div class="movie__image">
                    {{#if this.attributes.image }}
                    <img src="{{ this.attributes.image.url }}">
                    {{/if}}
                    </div>
                    <div class="movie__title">
                        <h2>{{this.attributes.title}}</h2>
                    </div>
                </a>
            </div>
        {{/each}}    
</div>